<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de pasajeros</title>
</head>
<body style="background-color: cornflowerblue;">

    <h1> Viajes </h1>

    <ul>
        {% for viajes in object_list %}
         <li> 
             <p>Nombre: {{Viajes.destino}}</p>
             <p>
                <a href="{% url 'viaje_detail' Viaje.destino %}">Detalle</a>
                <a href="{% url 'viaje_delete' Viaje.destino %}">Eliminar</a>
                <a href="{% url 'viaje_update' Viaje.destino %}">Actualizar</a>
            
            </p>
         </li>

        {% endfor %}

    </ul>
    
</body>
</html>