{% extends 'appcoder/padre.html' %}

{% block "content"%}




<div class="col-md-5 offset-md-3" >
    <form action="/appcoder/buscarViaje" method="GET" class="card card-body p-5 " style="background-color: rgb(13, 224, 231);">
            {% csrf_token %}
       
            <h1 style="width: auto; color: black;" ><center>Buscar Viaje</center></h1>
            <input type="destino" name ='destino' id="destino" placeholder="Destino" >    
            <input type="submit" value="Buscar">   
    </form> 


    {% if error %}
    <div class="alert alert-danger">
        {{error}}
     
    {% endif %}

    {% if Viajes %}
    <div class="alert alert-success">
        
    <div >
        <center>
            <h2 > Viajes encontrado:</h2>
        </center>
            <div class="container mt5" style="background-color: rgb(218, 247, 229);" mt-5>
                <table class='table' center>
                <thead>
                    <tr>
                        <th>Destino</th>
                        <th>Pais</th>
                        <th>Año</th>
                    </tr>
                </thead>
                    
                <tbody>
                
            
                            
                        <tr>
                                
                            <td>{{Viajes.destino}}</td>
                            <td>{{Viajes.pais}}</td>
                            <td>{{Viajes.anio}}</td>
                
                        </tr>
                            
            
            
            
                </tbody>
            
                </table>
            
            
            
            </div>
    </div>
    
    {% endif %}

{% endblock "content"%}